table {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
td {
	border-style: none;
	max-width: 5px;
	max-height: 5px;
	overflow: hidden;
}
div.cell {
	height: 5px;
	width: 5px;
}
.alive {
	background-color: black;
}
.dead {
	background-color: white;
}

